In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv(r"C:/Users/sayed/Desktop/DDP/practice/dataset/employee_data.csv")

   EmployeeID     Name Department  Salary
0           1    Alice         IT   70000
1           2      Bob         HR   60000
2           3  Charlie      Sales   50000
3           4    David         IT   75000
4           5      Eve         HR   65000
5           6    Frank      Sales   55000
6           7    Grace         IT   72000
7           8   Hannah         HR   68000
8           9      Ivy      Sales   53000
9          10     Jack         IT   76000

In [4]:
# Starting the  spark session 

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Practice2").getOrCreate()

In [5]:
spark

In [6]:
data_pyspark = spark.read.csv("C:/Users/sayed/Desktop/DDP/practice/dataset/employee_data.csv")

In [7]:
data_pyspark.show()

+----------+-------+----------+------+
|       _c0|    _c1|       _c2|   _c3|
+----------+-------+----------+------+
|EmployeeID|   Name|Department|Salary|
|         1|  Alice|        IT| 70000|
|         2|    Bob|        HR| 60000|
|         3|Charlie|     Sales| 50000|
|         4|  David|        IT| 75000|
|         5|    Eve|        HR| 65000|
|         6|  Frank|     Sales| 55000|
|         7|  Grace|        IT| 72000|
|         8| Hannah|        HR| 68000|
|         9|    Ivy|     Sales| 53000|
|        10|   Jack|        IT| 76000|
+----------+-------+----------+------+

In [8]:
data_pyspark = spark.read.csv("C:/Users/sayed/Desktop/DDP/practice/dataset/employee_data.csv",header=True)
#Header = true" typically means the first row of the file should be interpreted as the column names

In [9]:
data_pyspark.show()

+----------+-------+----------+------+
|EmployeeID|   Name|Department|Salary|
+----------+-------+----------+------+
|         1|  Alice|        IT| 70000|
|         2|    Bob|        HR| 60000|
|         3|Charlie|     Sales| 50000|
|         4|  David|        IT| 75000|
|         5|    Eve|        HR| 65000|
|         6|  Frank|     Sales| 55000|
|         7|  Grace|        IT| 72000|
|         8| Hannah|        HR| 68000|
|         9|    Ivy|     Sales| 53000|
|        10|   Jack|        IT| 76000|
+----------+-------+----------+------+

In [10]:
type(data_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
data_pyspark.head(2) # Unlike pandas when we use head in pyspark we get the result in list format where as in pandas in dataframe format

[Row(EmployeeID='1', Name='Alice', Department='IT', Salary='70000'),
 Row(EmployeeID='2', Name='Bob', Department='HR', Salary='60000')]

In [12]:
data_pyspark.printSchema()  # To check the datatype of the column we use printschema

root
 |-- EmployeeID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: string (nullable = true)

In [13]:
type(data_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
data_pyspark.columns

['EmployeeID', 'Name', 'Department', 'Salary']

In [15]:
type(data_pyspark.select("Name"))

pyspark.sql.dataframe.DataFrame

In [16]:
data_pyspark.dtypes

[('EmployeeID', 'string'),
 ('Name', 'string'),
 ('Department', 'string'),
 ('Salary', 'string')]

In [17]:
data_pyspark.describe().show()

+-------+------------------+-----+----------+-----------------+
|summary|        EmployeeID| Name|Department|           Salary|
+-------+------------------+-----+----------+-----------------+
|  count|                10|   10|        10|               10|
|   mean|               5.5| NULL|      NULL|          64400.0|
| stddev|3.0276503540974917| NULL|      NULL|9395.034149308169|
|    min|                 1|Alice|        HR|            50000|
|    max|                 9| Jack|     Sales|            76000|
+-------+------------------+-----+----------+-----------------+

In [18]:
future_sal = data_pyspark.withColumn("Salary after 2 years",data_pyspark['Salary']*2)

In [19]:
future_sal.show()

+----------+-------+----------+------+--------------------+
|EmployeeID|   Name|Department|Salary|Salary after 2 years|
+----------+-------+----------+------+--------------------+
|         1|  Alice|        IT| 70000|            140000.0|
|         2|    Bob|        HR| 60000|            120000.0|
|         3|Charlie|     Sales| 50000|            100000.0|
|         4|  David|        IT| 75000|            150000.0|
|         5|    Eve|        HR| 65000|            130000.0|
|         6|  Frank|     Sales| 55000|            110000.0|
|         7|  Grace|        IT| 72000|            144000.0|
|         8| Hannah|        HR| 68000|            136000.0|
|         9|    Ivy|     Sales| 53000|            106000.0|
|        10|   Jack|        IT| 76000|            152000.0|
+----------+-------+----------+------+--------------------+

In [20]:
future_sal.withColumnRenamed("Salary","Current-Salary").show()

+----------+-------+----------+--------------+--------------------+
|EmployeeID|   Name|Department|Current-Salary|Salary after 2 years|
+----------+-------+----------+--------------+--------------------+
|         1|  Alice|        IT|         70000|            140000.0|
|         2|    Bob|        HR|         60000|            120000.0|
|         3|Charlie|     Sales|         50000|            100000.0|
|         4|  David|        IT|         75000|            150000.0|
|         5|    Eve|        HR|         65000|            130000.0|
|         6|  Frank|     Sales|         55000|            110000.0|
|         7|  Grace|        IT|         72000|            144000.0|
|         8| Hannah|        HR|         68000|            136000.0|
|         9|    Ivy|     Sales|         53000|            106000.0|
|        10|   Jack|        IT|         76000|            152000.0|
+----------+-------+----------+--------------+--------------------+

In [21]:
updated_sal = future_sal.withColumnRenamed("Salary","Current-Salary")

In [22]:
updated_sal.show()

+----------+-------+----------+--------------+--------------------+
|EmployeeID|   Name|Department|Current-Salary|Salary after 2 years|
+----------+-------+----------+--------------+--------------------+
|         1|  Alice|        IT|         70000|            140000.0|
|         2|    Bob|        HR|         60000|            120000.0|
|         3|Charlie|     Sales|         50000|            100000.0|
|         4|  David|        IT|         75000|            150000.0|
|         5|    Eve|        HR|         65000|            130000.0|
|         6|  Frank|     Sales|         55000|            110000.0|
|         7|  Grace|        IT|         72000|            144000.0|
|         8| Hannah|        HR|         68000|            136000.0|
|         9|    Ivy|     Sales|         53000|            106000.0|
|        10|   Jack|        IT|         76000|            152000.0|
+----------+-------+----------+--------------+--------------------+

In [23]:
df_drop = data_pyspark.drop('Name')

In [24]:
df_drop.show()

+----------+----------+------+
|EmployeeID|Department|Salary|
+----------+----------+------+
|         1|        IT| 70000|
|         2|        HR| 60000|
|         3|     Sales| 50000|
|         4|        IT| 75000|
|         5|        HR| 65000|
|         6|     Sales| 55000|
|         7|        IT| 72000|
|         8|        HR| 68000|
|         9|     Sales| 53000|
|        10|        IT| 76000|
+----------+----------+------+

In [25]:
data_pyspark.show()

+----------+-------+----------+------+
|EmployeeID|   Name|Department|Salary|
+----------+-------+----------+------+
|         1|  Alice|        IT| 70000|
|         2|    Bob|        HR| 60000|
|         3|Charlie|     Sales| 50000|
|         4|  David|        IT| 75000|
|         5|    Eve|        HR| 65000|
|         6|  Frank|     Sales| 55000|
|         7|  Grace|        IT| 72000|
|         8| Hannah|        HR| 68000|
|         9|    Ivy|     Sales| 53000|
|        10|   Jack|        IT| 76000|
+----------+-------+----------+------+

In [26]:
# Salary of people greater than 60,000
data_pyspark.filter("Salary>=60000").show()

+----------+------+----------+------+
|EmployeeID|  Name|Department|Salary|
+----------+------+----------+------+
|         1| Alice|        IT| 70000|
|         2|   Bob|        HR| 60000|
|         4| David|        IT| 75000|
|         5|   Eve|        HR| 65000|
|         7| Grace|        IT| 72000|
|         8|Hannah|        HR| 68000|
|        10|  Jack|        IT| 76000|
+----------+------+----------+------+

In [27]:
data_pyspark.filter("EmployeeID %2 != 0").show()   # Employee with Odd EmployeeID

+----------+-------+----------+------+
|EmployeeID|   Name|Department|Salary|
+----------+-------+----------+------+
|         1|  Alice|        IT| 70000|
|         3|Charlie|     Sales| 50000|
|         5|    Eve|        HR| 65000|
|         7|  Grace|        IT| 72000|
|         9|    Ivy|     Sales| 53000|
+----------+-------+----------+------+

In [28]:
data_pyspark.filter("EmployeeID %2 ==0 ").show()  # Employees with even EmployeeID

+----------+------+----------+------+
|EmployeeID|  Name|Department|Salary|
+----------+------+----------+------+
|         2|   Bob|        HR| 60000|
|         4| David|        IT| 75000|
|         6| Frank|     Sales| 55000|
|         8|Hannah|        HR| 68000|
|        10|  Jack|        IT| 76000|
+----------+------+----------+------+

In [29]:
data_pyspark.filter("EmployeeId %2 == 0 ").select(['Name','Department']).show() # Employees with even EmployeeID their (name and deparment)

+------+----------+
|  Name|Department|
+------+----------+
|   Bob|        HR|
| David|        IT|
| Frank|     Sales|
|Hannah|        HR|
|  Jack|        IT|
+------+----------+

In [30]:
data_pyspark.filter((data_pyspark.EmployeeID % 2 == 0) & (data_pyspark.Department == 'HR')).show()

+----------+------+----------+------+
|EmployeeID|  Name|Department|Salary|
+----------+------+----------+------+
|         2|   Bob|        HR| 60000|
|         8|Hannah|        HR| 68000|
+----------+------+----------+------+

In [31]:
data_pyspark.distinct()

DataFrame[EmployeeID: string, Name: string, Department: string, Salary: string]

In [ ]:
data_pyspark.distinct().show()

+----------+-------+----------+------+
|EmployeeID|   Name|Department|Salary|
+----------+-------+----------+------+
|         8| Hannah|        HR| 68000|
|         2|    Bob|        HR| 60000|
|        10|   Jack|        IT| 76000|
|         5|    Eve|        HR| 65000|
|         9|    Ivy|     Sales| 53000|
|         6|  Frank|     Sales| 55000|
|         1|  Alice|        IT| 70000|
|         4|  David|        IT| 75000|
|         7|  Grace|        IT| 72000|
|         3|Charlie|     Sales| 50000|
+----------+-------+----------+------+